.container {
    width: 100%;
    height: 100vh;
    background-color: #e3f9ff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:0;
}

.calculator{
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    height: 60%;
    width: 23%;
    
}
.calculator .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.calculator .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    background: transparent;
}
.calculator form input{
    border-radius: 100px;
    border: 0;
    outline: 0;
    height: 50px;
    width: 50px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(56, 55, 55);
    margin-left: 20px;
 }
form input.zero{
    width: 135px;
    text-align: left;
    padding-left: 30px;
}
form input.vertical{
    background-color: orange;
    color: white;
}
form input.first{
    background-color: rgb(166, 164, 164);
    color: black;
}
@media screen and (max-width:1300px){
    .calculator{
        width: 100%;
    }
}
@media screen and (max-width:410px){
    .calculator{
        background-color: black;
        padding: 30px;
        border-radius: 10px;
        height: 70%;
        width: 100%;
        
    }
    .calculator form input{
        border-radius: 100px;
        border: 0;
        outline: 0;
        height: 50px;
        width: 50px;
        font-size: 20px;
        margin: 10px;
        cursor: pointer;
        color: whitesmoke;
        background-color: rgb(56, 55, 55);
        margin-left: 10px;
     }
    form input.zero{
        width: 125px;
        text-align: left;
        padding-left: 30px;
    }
    form input.vertical{
        background-color: orange;
        color: white;
    }
    form input.first{
        background-color: rgb(166, 164, 164);
        color: black;
    }
}